body {
    padding: 0%;
    font-family: 'Roboto', sans-serif!important
}

.maincontent {
    padding: 2%
}

.fooditem {
    color: black;
    margin: 0%;
    font-size: 16px;
}

.fooditem:hover {
    color: rgb(25, 18, 96);
    font-weight: bold;
    text-decoration: none
}
