body {
    padding: 0%;
    font-family: 'Roboto', sans-serif!important
}

.maincontent {
    padding: 2%;
}

#menu_stuff {
    border: 2px solid black;
    border-radius: 25px;
    padding: 1%
}

#mealbuttons {
    margin-left: 2%;
    margin-bottom: -0.3%!important;
}

a {
    margin-right: 2%;
    text-decoration: none!important;
    color:black!important;
}

.mealpick {
    padding-left: 2%;
    padding-top: 0.5%;
    padding-right: 2%;
    font-size: 18px;
}

.mealpick.active {
    font-size: 20px;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 2px solid black;
    border-bottom: 5px solid white; 
}
  
.fooditem {
    color: black;
    margin: 0%;
    font-size: 16px;
}

.entree-item {
    font-size: 20px!important;
}

.fooditem:hover {
    color: rgb(25, 18, 96);
    font-weight: bold;
    text-decoration: none
}
