{% extends "layout.html" %}
{% block content %}

<input type="text" id="filter" class="form-control" placeholder = "Search" />
<br/>
<table class="table" id="table">
    <thead>
      <tr>
        <th scope="col">Location </th>
        <th scope="col">Breakfast</th>
        <th scope="col">Lunch</th>
        <th scope="col">Dinner</th>
        <th scope="col">Weekend Brunch</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong> Adams</strong>
            <br/>
            <span class="badge rounded-pill bg-warning text-dark">Sister House: Pfoho</span>
            <span class="badge badge-pill badge-danger">No First-Years</span>
        </td>
        <td><strong>Continental 7:30-10:30 am </strong></td>
        <td><strong>M-F, 11:30 am-2 pm</strong> <br/><span class="badge rounded-pill bg-info" style="color:white">Halal</span>
            <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span>
        </td>
        <td><strong> 5-7:30 pm  </strong><br/>
            <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span> <br/>
            Th: No guests
        </td>
        <td><strong> 11:30 am-2 pm </strong>
            <br/>
            <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span>
        </td>
      </tr>
      <tr>
        <td><strong>Annenberg  </strong> <br/>
            <span class="badge rounded-pill bg-warning text-dark">First-Years Only</span>
        </td>
        <td><strong> Hot Breakfast, M-Sa, 7:30 am-10:30 am <br/> 
            Continental, Su, 7:30-10:30 am </strong> </td>
        <td><strong>M-F, 11:30 am-2 pm</strong> <br/>
            <span class="badge rounded-pill bg-info" style="color:white">Halal</span>
        </td>
        <td> <strong> 4:30-7:30 pm </strong>   <br/><span class="badge rounded-pill bg-info" style="color:white">Halal</span>  </td>   </td>
        <td> <strong>11:30 am- 2pm </strong> </td>
      </tr>
      <tr>
        <td><strong> Cabot  </strong>
        </td>
        <td> <strong>Continental, 7:30-10:30 am  </strong><br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span></td>
        <td><strong>M-F, 11:30 am-2 pm </strong><br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span> <span class="badge rounded-pill bg-info" style="color:white">Halal</span>  </td></td>
        <td> <strong>5-7:30 pm </strong> <br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span> <span class="badge rounded-pill bg-info" style="color:white">Halal</span>  </td></td>
        <td> <strong> 11:30 am-2 pm </strong> </td>
      </tr>
      <tr>
        <td><strong> Cronkhite </strong></td>
        <td><strong> Continental, 7:30-10:30 am </strong></td>
        <td> — </td>
        <td> — </td>
        <td> — </td>
      </tr>
      <tr>
        <td><strong> Currier </strong> <br/>
        </td>
        <td><strong>Continental, 7:30-10:30 am </strong><br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span>
        </td>
        
        <td><strong>M-F, 11:30 am-2 pm </strong> <br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span></td>
        <td> <strong>5-7:30 pm  </strong><br/>
            Th 5-7 pm: <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span> <br/>
            F-W:             <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span></td>
        </td>
        <td><strong>11:30am-2 pm </strong><br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span></td>
      </tr>
      <tr>
        <td><strong>Dunster </strong></td>
        <td><strong>Continental, 7:30-10:30 am </strong><br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span></td>
        <td><strong>M-F, 11:30 am-2 pm </strong><br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span> </td>
        <td> <strong> 5-7:30 pm </strong> <br/>
            M-W: <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span> only from 6-7:15 pm, Dunster+Athletes in season 7:15-8:30 pm
            <br/>Th: No guests until 7:15 pm, Dunster+Athletes 7:15-8:30 pm <br/>
            F-Su:  <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span>

        </td>
        <td><strong>11:30 am-2 pm </strong><br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span> </td>
      </tr>
      <tr>
        <td><strong> Eliot </strong></td>
        <td> <strong> Continental, 7:30-10:30 am </strong><br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span> </td>
        <td><strong>M-F, 11:30 am-2 pm </strong> <br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span> </td>
        <td><strong> 5-7:30 pm </strong> <br/>
            Th: No guests <br/>
            F-W: <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span>
        </td>
        <td><strong>11:30 am-2 pm </strong> <br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span> </td>
      </tr>
      <tr>
        <td><strong>Hillel </strong></td>
        <td> — </td>
        <td><strong>Sat,12-2 pm  </strong>  <br/><span class="badge rounded-pill bg-primary" style="color:white">Kosher</span>  </td></td></td>
        <td> <strong> Sun-F, 5-7 pm </strong> <br/><span class="badge rounded-pill bg-primary" style="color:white">Kosher</span>  </td></td>
    </td>
        <td>— </td>
      </tr>
      <tr>
        <td><strong>Kirkland </strong></td>
        <td><strong>Continental, 7:30-10:30 am </strong><br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span></td>
        <td> <strong>M-F, 11:30 am-2 pm </strong> <br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span></td>
        <td><strong> 5-7:30 pm </strong><br/>
            M-Sa: <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span> <br/>
            Th: No guests <br/>
            Su: <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span>
        </td>
        <td><strong>11:30 am-2 pm </strong><br/>
            <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span>
        </td>
      </tr>
      <tr>
        <td><strong>Leverett </strong></td>
        <td><strong>Continental, 7:30-10:30 am </strong><br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span></td>
        <td><strong>M-F, 11:30 am-2 pm </strong> <br/>
            <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span>
        </td>
        <td> <strong> 5-7:30 pm  </strong> <br/>
            Th: No guests <br/>
            F-W: 
            <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span>
            <span class="badge badge-pill badge-danger">No First-Years</span>
        </td>
        <td> <strong> 11:30 am-2 pm </strong><br/>
            <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span>
            <span class="badge badge-pill badge-danger">No First-Years</span>
        </td>
      </tr>
      <tr>
        <td><strong>Lowell </strong> <br/>
            <span class="badge rounded-pill bg-warning text-dark">Sister House: Cabot</span>

        </td>
        <td><strong>Continental, 7:30-10:30 am  </strong><br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span></td>
        </td>
        <td><strong> M-F, 11:30 am-2 pm</strong> <br/>
            No guests between 11:30 am-1 pm <br/>
            1-2 pm: <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span> <br/>
            <span class="badge badge-pill badge-danger">No First-Years</span>
        </td>
        <td><strong> 5-7:30 pm </strong><br/>
            Th: No guests <br/>
            W-F: 5:45-7 pm: <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span><br/>
            <span class="badge badge-pill badge-danger">No First-Years</span> 
        </td>
        <td><strong> 11:30 am-2 pm </strong>
            <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span>
        </td>
      </tr>

      <tr>
        <td><strong>Mather </strong></td>
        </td>
        <td><strong>Continental, 7:30-10:30 am </strong><br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span></td>
        <td><strong>M-F, 11:30 am-2 pm </strong>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span>
        </td>
        <td> <strong>5-7:30 pm </strong><br/>
            Th: No guests <br/>
            F-W:  <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span>
        </td>
        <td><strong> 11:30 am-2 pm </strong>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span>
        </td>
      </tr>
      <tr>
        <td><strong>Pforzheimer </strong</td>
        <td><strong>Continental, 7:30-10:30 am </strong><br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span>
        </td>
        <td><strong>M-F, 11:30 am-2 pm </strong> <br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span>
        </td>
        <td> <strong> 5-7:30 pm </strong> <br/>
             <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span>
        </td>
        <td> <strong> 11:30 am-2 pm </strong> <br/>
             <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span>
        </td>
      </tr>
      <tr>
        <td><strong> Quincy </strong> <br/> <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span>
        </td>
        <td><strong>Hot Breakfast, M-Sa, 7:30 am-10:30 am <br/>
            Continental, Su, 7:30-10:30 am </strong> <br/>
            <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span>
        </td>
        <td> <strong>M-F, 11:30 am-2 pm </strong> <br/>
            <span class="badge rounded-pill bg-primary" style="color:white">Kosher</span>             
            <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span>
            <span class="badge badge-pill badge-danger">No First-Years</span> 
        </td>
        <td><strong> 5-7:30 pm </strong> <br/>
            Th: No guests <br/>
            F-W: 
             <span class="badge badge-pill badge-danger">No First-Years</span> 
        </td>
        <td><strong>11:30 am-2 pm </strong> <br/>
            <span class="badge badge-pill badge-danger">No First-Years</span> 
        </td>
      </tr>
      <tr>
        <td><strong>Winthrop </strong><br/>
            <span class="badge rounded-pill bg-warning text-dark">Sister House: Currier</span>
        </td>
        <td><strong>Continental, 7:30-10:30 am </strong> <br/> <span class="badge rounded-pill bg-success" style="color:white">No Restrictions</span>
        </td>
        <td><strong>M-F, 11:30 am-2 pm </strong>
            <br/>
            <span class="badge badge-pill badge-danger">No First-Years</span> 
        </td>
        <td> <strong>5-7:30 pm </strong><br/>
            Th: No guests <br/>
            F-W: 
            6-7 pm: <span class="badge rounded-pill bg-dark" style="color:white">Resident +1</span>
            <span class="badge badge-pill badge-danger">No First-Years</span> 
        </td>
        <td><strong>11:30 am-2 pm </strong><br/>
            <span class="badge badge-pill badge-danger">No First-Years</span> 
        </td>
      </tr>
    </tbody>
  </table>
  
<script>
     // Function
 function filterTable(value) {
     if (value != "") {
         $("#table td:contains-ci('" + value + "')").parent("tr").show();
     }
 }

 // jQuery expression for case-insensitive filter
 $.extend($.expr[":"], {
     "contains-ci": function (elem, i, match, array) {
         return (elem.textContent || elem.innerText || $(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
     }
 });

 // Event listener
 $('#filter').on('keyup', function () {
     if ($(this).val() == '') {
         $("#table tbody > tr").show();
     } else {
         $("#table > tbody > tr").hide();
         var filters = $(this).val().split(' ');
         filters.map(filterTable);
     }
 });
</script>

{% endblock %}
